<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="posts">Ideas List</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> 




  <body>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>